.mainC{
    position: fixed;
    width: 80%;
    height: 80%;
    background-color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    z-index: 10;
}
.closeBtn{
    position: absolute;
    top: 0px;
    right: 0px;
    object-fit: cover;
    object-position: center;
    height: 5%;
    aspect-ratio: 1/1;
    margin: 15px;
    z-index: 20;
}